header.l-header
	.l-container.l-container--fluid
		a.l-header__logo-link(href="javascript:;")
			img.l-header__logo(data-src="http://placehold.it/70x70" src=`${page.img_url}logo.svg`)
		span.l-header__icon
		ul.l-header__nav
			li.l-header__nav-item
				a.l-header__nav-link(href="javascript:;") Home
			li.l-header__nav-item.is-active
				a.l-header__nav-link(href="javascript:;") Blog
			li.l-header__nav-item
				a.l-header__nav-link(href="javascript:;") About
			li.l-header__nav-item
				a.l-header__nav-link(href="javascript:;") Contact
