.icon
	-webkit-font-smoothing antialiased
	display inline-block
	font-family "iconFonts"
	font-size 22px
	font-style normal
	font-variant normal
	font-weight normal
	line-height 1
	text-decoration inherit
	text-transform none
	vertical-align middle


.icon-asterisk:before
	content "\E001"

.icon-asterisk1:before
	content "\E002"

.icon-delete:before
	content "\E003"

.icon-menu:before
	content "\E004"

.icon-pointer:before
	content "\E005"
