<section class="u-ftImg" style="background-image: url(/img/code/code-ft.jpg)">
	<div class="l-container l-container--fluid">
		<h1 class="title">{{ .Title }}</h1>
	</div>
</section>

<div class="l-container">
	<br><br>
	<p>Here are some demo projects that I have worked on in the <b>front-end development</b> side:
	</p>

	<div class="github-card" data-github="anareyna" data-width="400" data-height="" data-theme="default"></div>
	<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>


	<div class="l-brick l-brick--margin" data-columns>
	  {{ range (where .Data.Pages "Section" "code") }}
	      {{ partial "brick-item.html" . }}
	  {{ end }}
	</div>
</div>