/**
* Config
* @class Config
*/

/* Paths */
$imgPath         = '../img/'
$fontPath        = '../fonts/'

/* Font family variables */
$family1Regular			= 'Inconsolata', 'Arial', 'sans-serif'
$family1Bold			= 'Arial', 'sans-serif'
$family2Regular			= 'Oleo Script','Crimson Text', 'Arial', 'sans-serif'
$family2Bold			= 'Arial', 'sans-serif'

$basefont               = 20px

/* Used for layout debugging: if "true" displays outline in color */
$debug = 0

/* Color variables */
$primaryColor = #E20101
$secondaryColor = tomato
$bgColor = #f8f8f8 //#fefefe
$fontColor = #464646


/* Layout variables */
$wrapperWidth = 700px
rupture.mobile-cutoff = 550px