extends _templates/master
//- index

block content
	section.u-ftImg
		.l-container.l-container--fluid
			h2.title Portfolio
	section
		.l-brick.l-brick--3(data-columns)
			a.l-brick__item.l-brick__item--overlay(href="javascript:;")
				h4.l-brick__hover Qhopper
				img(src="http://lorempixel.com/food/900/200")
			a.l-brick__item(href="javascript:;")
				img(src="http://lorempixel.com/food/900/400")
			a.l-brick__item(href="javascript:;")
				img(src="http://lorempixel.com/food/900/200")
			a.l-brick__item(href="javascript:;")
				img(src="http://lorempixel.com/food/900/600")
			a.l-brick__item(href="javascript:;")
				img(src="http://lorempixel.com/food/900/300")
			a.l-brick__item(href="javascript:;")
				img(src="http://lorempixel.com/food/900/500")
			a.l-brick__item(href="javascript:;")
				img(src="http://lorempixel.com/food/900/400")

	.l-container
		.l-brick.l-brick--margin(data-columns)
			.l-brick__item.c-box
				img.c-box__img(src="http://lorempixel.com/food/900/600")
				.c-box__padding
					h3.c-box__title Lorem ipsum this is a nice title yeah 
					p.c-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
					a(href="javascript:;") [View demo]
			.l-brick__item.c-box
				.c-box__padding
					h4.c-box__title Lorem ipsum this is a nice title yeah 
					p.c-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
					a(href="javascript:;") [View demo]
			.l-brick__item.c-box
				img.c-box__img(src="http://lorempixel.com/food/900/600")
				.c-box__padding
					h3.c-box__title Lorem ipsum this is a nice title yeah 
					p.c-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
					ul 
						li somegdg
						li anything
						li glp.jsdf
					a(href="javascript:;") [View demo]
			.l-brick__item.c-box
				.c-box__padding
					h3.c-box__title Lorem ipsum this is a nice title yeah 
					p.c-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
					a(href="javascript:;") [View demo]
			
			

	.l-container
		h1 Aprendiendo sobre AB Testing paquetes de trabajo

		p You can now start developing with:
		ul
			li
				a(href="http://coffeescript.org/", target="_blank") Coffescript
			li
				a(href="http://pugjs.org/", target="_blank") Pug
			li
				a(href="https://learnboost.github.io/stylus/", target="_blank") Stylus
				|  also uses&nbsp;
				a(href="https://github.com/peterramsing/lost", target="_blank") Lost (Grid System)
				|  and&nbsp;
				a(href="https://github.com/jenius/rupture", target="_blank") Rupture (Media queries)
			li
				a(href="http://pleeease.io/", target="_blank") Pleeease
				|  comes with Autoprefixer, fallbacks for rem unit and CSS3 pseudo-elements, packs same media queries & more...
			li
				a(href="http://gulpjs.com/", target="_blank") Gulp
				| &nbsp;tasks to generate sprites, optimize images, jshint, etc. See gulpfile.js at the root of this project for more information.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		img(src="https://nishanths.github.io/zoom.js/img/palm.jpg" data-action="zoom")

		p For full documentation visit the&nbsp;
			a(href="https://github.com/anareyna/fronty", target="_blank") Fronty repository.
